__pycache__/
*.py[cod]
*.pyo
*.pyd

.git/
.idea/
.vscode/
.run/
.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/
lightning_logs/
checkpoints/
*.ckpt
*.pt
*.pth

data/
*.csv
*.hdf
*.h5

.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
