NIANETVAE_DB_HOST=database.domain.com
NIANETVAE_DB_PORT=5432
NIANETVAE_DB_NAME=ndatabase_name
NIANETVAE_DB_USER=user_name
NIANETVAE_DB_PASSWORD=replace_with_real_password
NIANETVAE_DB_SSLMODE=disable
