setuptools
PyYAML
torch==2.1.1+cu121
torchvision==0.16.1+cu121
numpy<2
psycopg2-binary
torchmetrics
tabulate
pandas
scipy
scikit-learn
matplotlib
niapy
lightning==2.2.1
Pillow
pytest
colorama
kaleido
pymoo
dill
tables
